<!DOCTYPE html>
<header>
  <ul class="navigation">
    <div class="logo"><img src="css/images/favicon_white.png" title="Sentinel Monitor"/><p>Copernicus Monitor<p/></div>
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li class="loggedInAs"><a href="#">Not logged in<i class="fa fa-user" aria-hidden="true"></i></a></li>
  </ul>
</header>
  <div id="mainContent" class="content">
    <div id="app" role="application">
      <div class="loader"></div>
    </div>
  </div>
<footer>
    <p>Created at Niras by Casper Samsø Fibæk</p>
</footer>
