<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="css/images/favicon.png"/>
  <title>Copernicus Monitor</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/app.min.css">
  <script type="text/javascript" src="js/app.min.js"></script>
  <script type="text/javascript">var cookies = {session: '{{session}}'}</script>
</head>
    {{{body}}}
</html>
