<!DOCTYPE html>
<!-- SITE THREE (CREATE NEW MONITORING SITE) -->

{{#extend "stylesheets"}}
  <link rel="stylesheet" type="text/css" href="css/create.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
{{/extend}}

{{#extend "scripts"}}
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  <script async src="js/wicket.js"></script>
  <script defer src="js/Leaflet.Editable.js"></script>
  <script defer src="js/Path.Drag.js"></script>
  <script defer src="js/createInit.js"></script>
{{/extend}}

<div class="formContainer">
  <div class="header">
    <h1>New Monitoring Site</h1>
  </div>
  <form class="paramForm">
    <div class="formBox satellite">
      <h3>Satellite</h3>
      <input type="radio" name="satellite" value="Sentinel-1"><p>Sentinel-1</p>
      <input type="radio" name="satellite" value="Sentinel-2" checked><p>Sentinel-2</p>
      <input type="radio" name="satellite" value="Sentinel-3"><p>Sentinel-3</p>
    </div>
    <div class="formBox timeline">
      <h3>Start time</h3>
      <h4>Date:</h4>
      <input type="date" name="date-from" value="2016-04-01">
    </div>
    <div class="formBox sitename">
      <h3>Name</h3>
      <h4>Text:</h4>
      <input type="text" name="sitename" value="unnamed">
    </div>
    <div class="formBox map">
      <div id="map"></div>
    </div>
    <div class="btnHolder">
        <input type="button" class="getSat btn blue" value="Create site">
        <input type="reset" class="reset btn red" value="Reset">
        <input type="button" class="goback btn green" value="Back">
    </div>
  </form>
</div>
