<!DOCTYPE html>
<!-- SITE TWO (SELECT MONITORING SITE) -->

{{#extend "stylesheets"}}
  <link rel="stylesheet" type="text/css" href="css/overview.css">
{{/extend}}

{{#extend "scripts"}}
  <script defer src="js/init.js"></script>
{{/extend}}

<div class="projectsContainer">
  <div class="projectsBackground">
    <div class="projectsTitle"><h1>Monitoring Sites</h1></div>
    <div class="projects"></div>
    <div class="projects-buttonContainer">
        <input type="button" class="refresh btn green" value="Refresh">
        <input type="button" class="createSite btn blue" value="Create New">
        <input type="reset" class="deleteSite btn red" value="Delete Site">
    </div>
  </div>
</div>
