<!DOCTYPE html>
<!-- SITE ONE (LOGIN) -->

{{#extend "stylesheets"}}
  <link rel="stylesheet" type="text/css" href="css/page1-login.css">
{{/extend}}

{{#extend "scripts"}}
  <script>console.log('Hello!')</script>
{{/extend}}

<div class="overlay">
  <div class="loginScreen">
    <form class="loginForm">
      <h3>Username: </h3>
      <input type="text" class="login-input" name="username" autofocus>
      <h3>Password: </h3>
      <input type="password" class="login-input" name="password">
      <div class="btnHolder">
          <input type="button" class="getLogin btn green" value="Login">
          <input type="button" class="createUser btn blue" value="Create User">
          <input type="reset" class="reset btn red" value="Reset">
      </div>
    </form>
    <div class="serverMessage"><p></p></div>
    <div class="user-loader">Loading...</div>
  </div>
</div>
