<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="favIcon/favicon.png"/>
  <title>{{title}}</title>

  <!-- stylesheets -->
  {{{block "stylesheets"}}}
  <link rel="stylesheet" type="text/css" href="css/fonts.css">
  <link rel="stylesheet" type="text/css" href="css/loaders.css">
  <link rel="stylesheet" type="text/css" href="css/general.css">

  <!-- external -->
  {{{block "scripts"}}}
  <script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
    {{{body}}}
</html>
