<!DOCTYPE html>
<!-- SITE THREE (CREATE NEW MONITORING SITE) -->

{{#extend "stylesheets"}}
  <link rel="stylesheet" type="text/css" href="css/monitor.css">
{{/extend}}

{{#extend "scripts"}}
  <script defer src="js/monitorInit.js"></script>
{{/extend}}

<div class="container">
  <h1>Monitoring!</h4>
</div>
