<!DOCTYPE html>
<!-- SITE TWO (SELECT MONITORING SITE) -->

{{#extend "stylesheets"}}
  <link rel="stylesheet" type="text/css" href="css/page2-siteOverview.css">
{{/extend}}

{{#extend "scripts"}}
  <script>console.log('Hello! overview')</script>
{{/extend}}

<div class="projectsContainer">
  <div class="projectsBackground">
    <div class="projectsTitle"><h1>Monitoring Sites</h1></div>
    <div class="projects">
      <div class="project"><p>project 1</p></div>
      <div class="project"><p>project 2</p></div>
      <div class="project"><p>project 3</p></div>
      <div class="project"><p>project 4</p></div>
      <div class="project"><p>project 5</p></div>
      <div class="project"><p>project 6</p></div>
      <div class="project"><p>project 7</p></div>
      <div class="project"><p>project 8</p></div>
      <div class="project"><p>project 9</p></div>
      <div class="project"><p>project 10</p></div>
    </div>
    <div class="projects-buttonContainer">
        <input type="button" class="refresh btn green" value="Refresh">
        <input type="button" class="createSite btn blue" value="Create New">
        <input type="reset" class="deleteSite btn red" value="Delete Site">
    </div>
  </div>
</div>
