/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

* {
  font-family: 'Open Sans Light', 'Open Sans Regular', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #42464e;
  margin: 0;
}

#map {
  height: 300px;
  width: 100%;
  margin-top: 6px;
  background: #c9ccc8;
}
/* OBS this is for testing */
.overlay{
  /*display: none !important; */
  position: absolute;
  height: 100%;
  width: 100%;
  background: #222224;
  margin: 0;
  z-index: 901;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .10s ease-in-out;
}

.loginScreen{
  margin: 0 auto;
}

.loginForm{
  background: #c9ccc8;
  margin: 0 auto;
  padding-top: 20px;
  height: 240px;
  width: 320px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  transition: all .10s ease-in-out;
}

.loginForm > h3{
  margin-left: 60px;
  margin-bottom: 6px;
  margin-top: 12px;
}

.login-input{
  margin-left: 60px;
}

.serverMessage{
  display: none;
  background: #c9ccc8;
  margin-top: 20px;
  height: 60px;
  width: 320px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}

.serverMessage > p{
  text-align: center;
  padding-top: 18px;
  font-weight: 600;
}

.formContainer{
  margin: 0 auto;
  max-width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 60px;
  padding-top: 20px;
  background: #e4e6e3;
  color: #2f2f33;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.formContainer > .header {
  width: 100%;
  padding-left: 20px;
  margin-left: -20px;
  padding-right: 20px;
  margin-right: 20px;
  margin-top: -20px;
  padding-bottom: 2px;
  padding-top: 2px;
  background: #2f2f33;
  color: #e4e6e3;
}

.paramForm{
  margin-top: 20px;
}

.formBox{
  background: #c9ccc8;
  padding-top: 4px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

input {
  border: none;
  padding: 4px;
  padding-left: 8px;
}

.formBox.satellite > input{
  margin-top: 6px;
  user-select: none;
}

.formBox.satellite > p{
  margin-top: 6px;
  user-select: none;
  display: inline-block;
  cursor: pointer;
}

.btnHolder{
  margin-top: 30px;
}

.btn{
  cursor: pointer;
  float: right;
  display: inline-block;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: 2px;
  transition: all .12s ease-in-out;
}

.btn.getSat{
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn.getSat:hover{
  background-color: #025aa5;
  border-color: #01549b;
}

.btn.reset{
  margin-right: 10px;
  color: #fff;
  background-color: #db4c0e;
  border-color: #db4c0e;
}

.btn.reset:hover{
  background-color: #c64b16;
  border-color: #ba4c1d;
}

.btn.getLogin{
  margin-right: 18px;
  color: #fff;
  background-color: #2fa73a;
  border-color: #2fa73a;
}

.btn.getLogin:hover{
  background-color: #318c45;
  border-color: #317d41;
}

.btn.createUser{
  margin-right: 10px;
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn.createUser:hover{
  background-color: #025aa5;
  border-color: #01549b;
}

h1{
  text-align: center;
}

.formBox > h3{
  margin-left: 52px;
  margin-bottom: 6px;
  margin-top: 4px;
}

.formBox > h4{
  margin-bottom: 2px;
  margin-top: 6px;
  display: inline-block;
  min-width: 50px;
}

.leaflet-marker-icon.leaflet-interactive,
.leaflet-image-layer.leaflet-interactive,
.leaflet-pane > svg path.leaflet-interactive{
  border-radius: 50% !important;
  margin-left: -7px !important;
  margin-top: -7px !important;
  width: 14px !important;
  height: 14px !important;
}

.user-loader {
  display: none;
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.user-loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.user-loader:after {
  background: #222224;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
