<!DOCTYPE html>
<header>
  <ul class="navigation">
    <div class="logo"><img src="css/images/favicon_white.png" title="Satellite Monitor"/><p>Vågen Beta (v.0.1.4)<p/></div>
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li class="loggedInAs" login="false"><a href="#">Not logged in<i class="fa fa-user" aria-hidden="true"></i></a></li>
  </ul>
</header>
  <div id="mainContent" class="content">
    <div id="app" role="application">
      <div class="loader"></div>
    </div>
  </div>
<footer>
    <p class="madeby">Created by Casper Samsø Fibæk</p>
    <p class="attribution">&copy; ESA, NASA and OpenStreetMap</p>
</footer>
