<!DOCTYPE html>
<html>
<head>
  <title>Copernicus Monitor</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="css/images/favicon.png"/>
  <script type="text/javascript">
    var cookies = {session: '{{session}}'} // eslint-disable-line
  </script>
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <link rel="stylesheet" type="text/css" href="css/spinners.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="css/leaflet.css">
  <script src="js/ext_jquery.js"></script> <!-- 3.1.1 -->
  <script src="js/ext_leaflet.js"></script> <!-- 1.0.3 -->
  <script src="js/ext_editable.js"></script>
  <script src="js/ext_path.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/database.js"></script>
  <script type="text/javascript" src="js/render_loading.js"></script>
  <script type="text/javascript" src="js/render_login.js"></script>
  <script type="text/javascript" src="js/render_logout.js"></script>
  <script type="text/javascript" src="js/render_signup.js"></script>
  <script type="text/javascript" src="js/render_sites.js"></script>
  <script type="text/javascript" src="js/render_create.js"></script>
  <script type="text/javascript" src="js/render_popups.js"></script>
  <script type="text/javascript" src="js/init.js"></script>
</head>
    {{{body}}}
</html>
